@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: grey;
  height: 150vh;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}
footer p{
  margin: 5px;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 8vw;
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
}
nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms ease;
  transition-delay: 200ms;
}

nav li.exc{
  width: 0px;
  height:0px;
  padding: 4vh 9px;
  margin: 8vh 5px 8vh 0px;
  transition: 200ms ease;
  transition-delay: 50ms;
}

nav li:nth-child(1){
  background-color: #212121;
}

nav li:nth-child(2){
  background-color: #0040ff;
}
nav li:nth-child(3){
  background-color: #b57c00;
}
nav li:nth-child(4){
  background-color: #10a100;
}
nav li:nth-child(5){
  background-color: #8c1212;
}
nav li:nth-child(6){
  background-color: #636363;
}

nav a{
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  color: #dedede;
  padding: 3px;
  display: none;
  transition: 500ms;
  transition-delay: 1s;
}
nav img{
  width: 50px;
}

/* nav:hover a{
  display: block;
}

nav:hover li.exc{
  padding: 2vh 9px;
  margin: 5vh 0px 5vh 10px;
}
*/
nav li:hover {
    padding: 8vh 3vw;
    margin: 5vh 0px 5vh 10px;
}

nav li:hover > *:first-child {
    display: block;
}

section#home{
  background-color: #212121;
  width: calc(100vw- 8vw)
}

.headings{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5vh 1vw;
  font-family: 'Fira Sans', sans-serif;
}

h1{
  color: #bfbfbf;
  font-size: 3em;
}
h2{
  color: #d1385a
}

section#AI{
  width: calc(100vw- 8vw);
  background-color: #0040ff;
}


section#internet{
  background-color: rgb(181, 124, 0);
  width: calc(100vw- 8vw);
}

section#translation{
  background-color: #10a100;
  width: calc(100vw- 8vw);
}


section#money{
  background-color: #8c1212;
  width: calc(100vw- 8vw);
}


section#cloud{
  background-color: #636363;
  width: calc(100vw- 8vw);
}
