
.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  padding: 0;
  margin:0;
}

section{
  margin-left: 8vw;
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
}
