:root{
  --theme: #d1385a;
}

.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  padding: 0;
  margin:0;
}

section{
  margin-left: 6vw;
  scroll-snap-align: start;
  height: 100vh;
}

html {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #212121;
}
::-webkit-scrollbar-thumb{
  background: var(--theme);
  border-radius: 100vw;
  border: .2em solid #212121
}

::-webkit-scrollbar-thumb:hover{
  background: #9ba4b3;
}
